# Carpetas de compilación
/out/
target/
build/

# Archivos de clases compiladas
*.class

# Configuración específica del IDE (IntelliJ)
.idea/
*.iml

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log
